# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]

# ===========================
# Virtual Environment
# ===========================
venv/
env/
.venv/

# ===========================
# Environment
# ===========================
.env

# ===========================
# Upload Folder
# ===========================
uploads/
received_files/
tcp/received_files/
udp/uploaded_videos/

# ===========================
# Database
# ===========================
*.db
*.sqlite
*.sqlite3

# ===========================
# Video
# ===========================
*.mp4
*.avi
*.mov
*.mkv

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Windows
# ===========================
Thumbs.db